#lang_dropdown_form_language > div {
    padding-top:                7px;
    float:                      right;
    margin-right:               100px;
}
.form-item-lang-dropdown-select {
    display:                    inline;
}
.lang-dropdown-form img.language-icon {
    padding:                    0px 4px;
}