fieldset {
    margin-bottom:              1em;
    padding:                    0.5em;
}
form {
    margin:                     0px;
    padding:                    0px;
}
hr {
    border:                     1px solid gray;
    height:                     1px;
}
img {
    border:                     0px none;
}
table {
    border-collapse:            collapse;
}
th {
    border-bottom:              3px solid rgb(204, 204, 204);
    padding-right:              1em;
    text-align:                 left;
}
tbody {
    border-top:                 1px solid rgb(204, 204, 204);
}
tr.even, tr.odd {
    background-color:           rgb(238, 238, 238);
    border-bottom:              1px solid rgb(204, 204, 204);
    padding:                    0.1em 0.6em;
}
th.active img {
    display:                    inline;
}
td.active {
    background-color:           rgb(221, 221, 221);
}
.item-list .title {
    font-weight:                bold;
}
.item-list ul {
    margin:                     0px 0px 0.75em;
    padding:                    0px;
}
.item-list ul li {
    margin:                     0px 0px 0.25em 1.5em;
    padding:                    0px;
}
#lang-dropdown-select-language option {
    background:                 none repeat scroll 0% 0% rgb(212, 215, 217);
}
#lang-dropdown-select-language {
    border:                     0px none;
    background:                 none repeat scroll 0% 0% transparent;
    font-family:                Myriad;
    font-size:                  16px;
    line-height:                22px;
    width:                      79px ! important;
}
.language-icon {
    float:                      left;
    margin-right:               7px;
    margin-top: -5px;
}
.form-item, .form-actions {
    margin-top:                 1em;
    margin-bottom:              1em;
}
tr.odd .form-item, tr.even .form-item {
    margin-top:                 0px;
    margin-bottom:              0px;
    white-space:                nowrap;
}
.form-item .description {
    font-size:                  0.85em;
}
label {
    display:                    block;
    font-weight:                bold;
}
label.option {
    display:                    inline;
    font-weight:                normal;
}
.form-checkboxes .form-item, .form-radios .form-item {
    margin-top:                 0.4em;
    margin-bottom:              0.4em;
}
.form-type-radio .description, .form-type-checkbox .description {
    margin-left:                2.4em;
}
input.form-checkbox, input.form-radio {
    vertical-align:             middle;
}
.marker, .form-required {
    color:                      rgb(255, 0, 0);
}
.form-item input.error, .form-item textarea.error, .form-item select.error {
    border:                     2px solid red;
}
.container-inline .form-actions, .container-inline.form-actions {
    margin-top:                 0px;
    margin-bottom:              0px;
}
.more-link {
    text-align:                 right;
}
.more-help-link {
    text-align:                 right;
}
.more-help-link a {
    background:                 url("../../misc/help.png") no-repeat scroll 0px 50% transparent;
    padding:                    1px 0px 1px 20px;
}
.item-list .pager {
    clear:                      both;
    text-align:                 center;
}
.item-list .pager li {
    background-image:           none;
    display:                    inline;
    list-style-type:            none;
    padding:                    0.5em;
}
.pager-current {
    font-weight:                bold;
}
#autocomplete li.selected {
    background:                 none repeat scroll 0% 0% rgb(0, 114, 185);
    color:                      rgb(255, 255, 255);
}
html.js fieldset.collapsible .fieldset-legend {
    background:                 url("../../misc/menu-expanded.png") no-repeat scroll 5px 65% transparent;
    padding-left:               15px;
}
html.js fieldset.collapsed .fieldset-legend {
    background-image:           url("../../misc/menu-collapsed.png");
    background-position:        5px 50%;
}
.fieldset-legend span.summary {
    color:                      rgb(153, 153, 153);
    font-size:                  0.9em;
    margin-left:                0.5em;
}
tr.drag {
    background-color:           rgb(255, 255, 240);
}
tr.drag-previous {
    background-color:           rgb(255, 255, 221);
}
.tabledrag-toggle-weight {
    font-size:                  0.9em;
}
body div.tabledrag-changed-warning {
    margin-bottom:              0.5em;
}
tr.selected td {
    background:                 none repeat scroll 0% 0% rgb(255, 255, 204);
}
td.checkbox, th.checkbox {
    text-align:                 center;
}
.progress {
    font-weight:                bold;
}
.progress .bar {
    background:                 none repeat scroll 0% 0% rgb(204, 204, 204);
    border-color:               rgb(102, 102, 102);
    margin:                     0px 0.2em;
    border-radius:              3px;
    -moz-border-radius:         3px;
    -webkit-border-radius:      3px;
}
.progress .filled {
    background:                 url("../../misc/progress.gif") repeat scroll 0% 0% rgb(0, 114, 185);
}